@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    font-family: "Inter", sans-serif;
    margin-left:10px;
    margin-right:10px;
}

body {
    background-color: rgb(34, 34, 34);
}


.mainnav {
    display: grid;
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 78px;
}

.navsubdiv-1 {
    color: rgb(230, 83, 60);
    font-size: 30px;
    font-weight: 800px;
    margin-top: -45px;

}

.navsubdiv-2 {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    gap: 54px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 35px;
    box-sizing: border-box;
    min-width: 460px;
    height: 50px;

}

.navicon {
    text-decoration: none;
    font-size: 18px;
    font-weight: 400px;
    color: rgb(255, 255, 255);
    margin-right: 20px;
}

.naviconhome {
    border-radius: 46px;
    background: rgb(230, 83, 60);
    width: 95px;
    height: 40px;
    display: flex;
    position: static;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600px;
    margin-left: -15px;


}

.hambarger {
    display: none;
    color: white;
    margin-top: 8.2px;
    font-size: 30px;
}


@media only screen and (max-width:576px) {
    .navsubdiv-2 {

        display: none;
    }

    .hambarger {
        display: block;
        margin-left:118px;
    }

    .navsubdiv-1 {
        margin-left: -180px
    }
    
}

/* 1st section */



.Section1maindiv {
    margin-top: 100px;
    display: grid;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.section1-title {
    font-size: 60px;
    font-weight: 900px;
    color: rgb(255, 255, 255);
    margin-left: 150px;
}


.shapestyle {
    font-family: 'Miama', sans-serif;
    font-weight: 200px;
    font-size: 38px;
}

.section1-descripation {
    margin-top: -35px;
    font-size: 16px;
    font-weight: 400px;
    color: rgba(255, 255, 255, 0.5);
    margin-left: 150px;
}

.primary-btn {
    border: 1px solid rgb(230, 83, 60);
    border-radius: 42px;
    background: rgb(230, 83, 60);
    width: 224px;
    height: 54px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600px;
    margin-left: 150px;
}

.btn2 {
    background: 1px none;
    border: 1px solid rgb(255, 255, 255);
    margin-left: 25px;
}

.section1-img {
    background-image: url('images/Images\ 2.png');
    width: 349px;
    height: 580px;
    margin-right: 200px;
    margin-top: -110px;

}

.s1-img-subdiv1 {
    width: 206px;
    height: 106px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    background: rgba(48, 48, 48, 0.54);
    margin-top: 140px;
    margin-left: 240px;

}

.s1-img-subdiv2 {
    width: 206px;
    height: 106px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    background: rgba(48, 48, 48, 0.54);
    margin-top: 165px;
    margin-left: -100px;
}

.s1boxmini1 {
    font-size: 30px;
    font-weight: 900px;
    color: rgb(255, 255, 255);
    padding-left: 30px;


}

.s1boxmini2 {
    font-size: 20px;
    font-weight: 900px;
    color: rgb(255, 255, 255);
    margin-top: 30px;
    margin-left: -15px;

}

.s1boxmini1descripation {
    font-size: 15px;
    font-weight: 400px;
    color: rgba(239, 237, 232, 0.65);
    margin-top: -20px;
    padding-left: 30px;

}

.s1boxmini1descripation1 {
    font-size: 15px;
    font-weight: 400px;
    color: rgba(239, 237, 232, 0.65);
    margin-left: -15px;
    margin-top: -15px;

}

.s1-subdiv-2flex {
    display: grid;
    display: flex;
    gap: 0px;
}

.minidivbtn {
    color: rgb(230, 83, 60);
    width: 40px;
    height: 40px;
    background-color: rgb(230, 83, 60);
    border: 1px solid rgb(230, 83, 60);
    border-radius: 50%;
    margin-top: 35px;
    margin-left: 1px;

}

.pribtn {
    display: grid;
    display: flex;

}

@media only screen and (max-width:576px) {

    .Section1maindiv {
        display: inline;
    }
    
    .pribtn {
        display: grid;
        display: flex;
        font-size: 1rem;
    }

    .section1-title {
        margin-left: -15px;
        font-size: 2rem;
        margin-top: -20px;
    }

    .section1-descripation {
        margin-left: -30px;
        margin-top: 20px;
    }

    .primary-btn {
        margin-left: -20px;
        margin-top: 20px;
        font-size: .7rem;

    }

    .btn2 {
        margin-left: 10px;
    }

    .section1-img {
        margin-top: 10px;
        margin-left: -25px;
        margin-right: -150px;
        width: 349px;
        height: 500px;

    }

    .s1-img-subdiv1 {
        margin-left: 120px;


    }

    .s1-img-subdiv2 {
        margin-left: 0px;
    }

}


/* 2nd section */

.s2title-desc {
    margin-top: 50px;
    align-items: center;
    text-align: center;
}

.s-2title {
    font-size: 45px;
    font-weight: 900px;
    color: rgb(255, 255, 255);

}

.s2-descripation {
    font-weight: 400px;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.5);
    margin-top: -20px;
}

.s2Main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 190px;
    display: flex;
    justify-content: center;
    margin-top: 80px;


}

.s2-subdiv {
    text-align: center;

}

.s2-subdiv1 {
    text-align: center;
    margin-left: -180px;

}

.s2-subdiv2 {
    text-align: center;
    margin-left: -170px;

}

.s2-subdiv3 {
    text-align: center;
    margin-left: -180px;

}

.S2-subdiv-img {
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

.s2-divsubtitle {
    font-size: 18px;
    font-weight: 600px;
    color: rgb(255, 255, 255);
}

.s2-divsubdescripation {
    font-size: 18px;
    font-weight: 400px;
    color: rgba(255, 255, 255, 0.5);
}



@media only screen and (max-width:576px) {
    .s2Main {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-top: 180px;
    }

    .S2-subdiv-img {
        margin-top: -150px;
    }

    .s2-subdiv1,
    .s2-subdiv2,
    .s2-subdiv3 {
        margin-left: 0px;
    }
}



/* 3rd section */

.s3-main {
    display: grid;
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.1);
    margin-left: 150px;
    margin-right: 1050px;
    border-radius: 20px;
    min-height: 392px;
    width: 1460px;
    margin-top: 80px;

}

.s3-img {
    width: 366px;
    height: 312px;
    border-radius: 10px;
    margin-right: 35px;
    margin-top: 35px;


}

.s3-subdiv {
    margin-left: 50px;
    margin-top: 25px;
}

.s3-title {
    font-size: 40px;
    font-weight: 900px;
    color: rgb(255, 255, 255);
}

.s3-descripation {
    font-size: 15px;
    font-weight: 400px;
    color: rgba(255, 255, 255, 0.5);
    margin-top: -20px;

}

.s3-btn {
    width: 224px;
    height: 54px;
    border: 1px solid rgb(230, 83, 60);
    border-radius: 42px;
    background: rgb(230, 83, 60);
    font-size: 18px;
    font-weight: 600px;
    color: rgb(255, 255, 255);
    margin-top: 10px;

}

@media only screen and (max-width:576px) {
    .s3-main {
        display: grid;
        width: 350px;
        height: 739px;
        margin-left:-10px;

    }

    .s3-img {
        margin-left: 45px;
        width: 280px;
        height: 280px;
        margin-left:0px;
        margin-top: 5px;
    }

    .s3-btn {
        margin-left: 0px;
        margin-top: 30px;
    }

    .s3-descripation {
        margin-left: 0px;
    }

    .s3-title {
        margin-left: 0px;
    }
    .run-extra{
        width: 280px;
        height: 280px;
        margin-left:35px;
    }
}

/* 4th section */

.Section4maindiv {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    margin-left: 140px;
    margin-right: 50px;
    margin-top: 50px;
}

.s4heading {
    font-weight: 900px;
    font-size: 48px;
    color: rgb(255, 255, 255);
}

.s4descri {
    font-size: 14px;
    font-weight: 400px;
    color: rgba(255, 255, 255, 0.5);
}

.Section4maindiv1 {
    margin-left: 140px;
    margin-right: 50px;
    margin-top: 150px;
}

.s4image1-des {
    color: rgb(0, 0, 0);
    margin-top: 275px;
    margin-left: 20px;
    font-weight: 500px;
    font-size: 1rem;
}

.s4image1-des1 {
    color: rgb(255, 255, 255);
    margin-top: 40px;
    font-weight: 500px;
    font-size: 1rem;
}

.s4image1-des2 {
    color: rgb(255, 255, 255);
    margin-top: 275px;
    font-weight: 500px;
    font-size: 1rem;
}

.s4image1-des3 {
    color: rgb(255, 255, 255);
    margin-top: 40px;
    margin-left: 320px;
    font-weight: 500px;
    font-size: 1rem;
}

.s4image1-des4 {
    color: rgb(255, 255, 255);
    margin-top: 275px;
    margin-left: 10px;
    font-weight: 500px;
    font-size: 1rem;
}

.s4image1-des5 {
    color: rgb(255, 255, 255);
    margin-top: 275px;
    margin-left: 10px;
    font-weight: 500px;
    font-size: 1rem;
}

.s4images1 {
    background-image: linear-gradient(to bottom, rgba(6, 255, 210, 0.5), rgba(6, 255, 210, 0.5)), url(images/exercise1.jpg);
    background-size: cover;
    width: 423px;
    height: 318px;

}

.s4images21 {
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0.3), rgba(255, 0, 0, 0.3)), url(images/exercise2.png);
    background-size: cover;
    width: 739px;
    height: 318px;
    margin-left: -340px;

}

.s4images31 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/exercise3.png);
    background-size: cover;
    width: 410px;
    height: 318px;
    margin-left: -80px;

}

.s4images41 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/exercise4.png);
    background-size: cover;
    width: 680px;
    height: 318px;

}

.s4images51 {
    background-image: linear-gradient(to bottom, rgba(66, 255, 0, 0.3), rgba(66, 255, 0, 0.3)), url(images/exercise5.jpg);
    background-size: cover;
    width: 488px;
    height: 318px;
    margin-left: -60px;

}

.s4images61 {
    background-image: linear-gradient(to bottom, rgba(0, 71, 255, 0.3), rgba(0, 71, 255, 0.3)), url(images/exercise6.jpg);
    background-size: cover;
    width: 500px;
    height: 318px;
    margin-left: -170px;

}


@media only screen and (max-width:576px) {
    .Section4maindiv {
        display: grid;
        grid-template-columns: repeat(2, 2fr);

    }

    .s4heading {
        margin-left:-140px;
        font-size: 2rem;
    }

    .s4descri {
        margin-left:-140px;
    }

    .Section4maindiv {
        margin-left: 10px;
    }

    .s4images1 {
        width: 213px;
        height: 118px;
        margin-left:-20px;
    }

    .s4images21 {
        width: 203px;
        height: 118px;
        margin-left:-55px;

    }

    .s4images41 {
        width: 213px;
        height: 118px;
        margin-left:-20px;
    }

    .s4images51 {
        width: 203px;
        height: 118px;
        margin-left: -55px;
    }

    .s4images31,
    .s4images61 {
        display: none;
    }

    .s4image1-des {
        margin-top: 100px;
        font-size: .9rem;
        color: rgb(255, 255, 255);
    }

    .s4image1-des3 {
        margin-top: 90px;
        margin-left: 0px;
        font-size: .9rem;
    }

    .s4image1-des4 {
        margin-top: 70px;
        margin-left: 10px;

    }

    .s4image1-des1 {
        margin-top: 5px;
    }
}

/* 5th section */
.s5main-12 {
    display: flex;
    margin-top: 100px;
    background-color: rgba(255, 255, 255, 0.1);
    min-width:0px;
    min-height: 589px;
    margin-left: -38px;
    margin-right: -38px;
}

.s5main-1 {
    color: rgba(255, 255, 255, 0.6);
    font-size: 1.3rem;
    font-weight: 800px;
}

.Bmi-title {
    color: rgb(255, 255, 255);
    font-size: 2.2rem;
    margin-top: 100px;
    margin-left: 50px;
}

.bmi-descris {
    margin-left: 50px;
}

.s5titileandpara {
    margin-left: 30%;
    margin-right: 50px;
    margin-top: 100px;
}

.BMI-1 {
    color: rgb(255, 255, 255);
}

.BMI-CAL-2 {
    color: rgba(255, 255, 255, 0.6);
    margin-left: 8%;
    font-size: 1.3rem;

}

.Height-cm {

    height: 60px;
    width: 382.5px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    font-size: 1.3rem;
    padding: 30px;
    color: rgba(255, 255, 255, 0.6);
}

.Height-cm-1 {
    height: 60px;
    width: 770.5px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    font-size: 1.3rem;
    padding: 15px;
    color: rgba(255, 255, 255, 0.6);
}

.Height-cm-2 {
    height: 60px;
    width: 382.5px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    font-size: 1.3rem;
    padding: 15px;
    color: rgba(255, 255, 255, 0.6);
    margin-left: -400px;
}

.s5titles-1 {
    color: rgb(255, 255, 255);
    font-size: 3.5rem;
    font-weight: 900px;

}

.s5descripations {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400px;
}

.bmi-calcolate {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 12px;
    margin-left: 40px;


}

table,
th,
td {
    border: 3px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
}

.tr-1 {
    width: 390px;
    height: 280px;
}

.s5-btns {
    width: 224px;
    height: 54px;
    border: 1px solid rgb(230, 83, 60);
    border-radius: 42px;
    background: rgb(230, 83, 60);
    font-size: 18px;
    font-weight: 600px;
    color: rgb(255, 255, 255);
    margin-top: 30px;
    margin-left: 50px;

}

@media only screen and (max-width:576px) {
    
    .s5main-12 {
        display: inline-block;
        width: 420px;
        height:1080px;
        margin-top: 0px;  
    
    }
    .s5main-1{
        margin-left:0px;

    }
    .BMI-CAL-2{
        margin-left: 10px;

    }

    .Height-cm {
        height: 60px;
        width: 152.5px;
        margin-left:-20px;
    }

    .Height-cm-1 {
        height: 60px;
        width: 322.5px;
        margin-left: -20px;
    }

    .Height-cm-2 {
        height: 60px;
        width: 152.5px;
        margin-left: -175px;
    }

    .Bmi-title {
        margin-left: 20px;
    }

    .s5-btns {
        margin-top: 20px;
        margin-left:20px;
    }

    .bmi-descris {
        margin-left: -2px;
    }

    .s5titles-1 {
        margin-left: -100px;
        font-size: 2rem;
        margin-top: 150px;
    }

    .s5descripations {
        margin-left: -100px;
    }

    .tr-1 {
        margin-left: 19px;
        width: 340px;
    }
}

/* extra-section */
.extramain {
    display: grid;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    color: rgba(255, 255, 255, 0.6);
}

.extraheading {
    text-align: center;
    margin-top: 80px;
    font-size: 2.2rem;
    color: aliceblue;
}

.extra-h3 {
    text-align: center;
    font-size: 1.5rem;
    color: rgb(224, 233, 226);
}

.extratable-1 {
    border: 2px solid rgb(209, 205, 205);
    width: 490px;
    height: 350px;

}

.extra-td {
    padding-left: 15px;
}



@media only screen and (max-width:576px) {
    .extramain {
        display: inline;
    }

    .extratable-1 {
        width: 310px;
        height: 240px;
        margin-left:0px;
    }
    .extraheading{
        margin-left: -10px;
    }
    .extra-h3{
        margin-left: -10px;
    }

}



/* 6th section */
.s6-main {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    margin-left: 170px;
    margin-right: 50px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    width:1480px;
    min-height:740px;
    margin-top: 100px;
    gap: 10px;


}

.s6images {
    width: 450px;
    height: 330px;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    color: rgba(0, 0, 0, 0.2);

}

.s6images1 {
    width: 450px;
    height: 330px;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    color: rgba(0, 0, 0, 0.2);

}

.s-6div1 {
    margin-left: 140px;
    margin-right: 50px;
    text-align: center;
    margin-top: 100px;
    color: white;
}

.s6titles-1 {
    font-size: 5rem;
    font-weight: 900px;
    color: rgb(255, 255, 255);
}

.s6descri-1s {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.3rem;
    font-weight: 400px;
    margin-top: -50px;
}

.jeromebell {
    margin-top: -100px;
    margin-left: 50px;
    font-size: 1.4rem;
    color: rgb(255, 255, 255);
}

.trainers {
    margin-top: -30px;
    margin-left: 50px;
    font-size: 1rem;
    color: rgba(226, 224, 224, 0.479);
}

.s6divs1 {
    margin-left: -50px;
}

.s6divs2 {
    margin-left: -50px;
}

.s6divs3 {
    margin-top: -55px;
}

.s6divs4 {
    margin-left: -50px;
    margin-top: -55px;
}

.s6divs5 {
    margin-left: -50px;
    margin-top: -55px;
}

/* section6 */

@media only screen and (max-width:576px) {

    .s6-main {
        display: grid;
        grid-template-columns: repeat(1, 2fr);
        width: 343px;
        min-height: 1450px;
        margin-left:0px;
    }
    .s6divs5,
    .s6divs4 {
        display: none;
    }

    .s6titles-1 {
        text-align: center;
        margin-left:0px;
        font-size: 2rem;
    }

    .s6descri-1s {
        margin-top: 50px;
        margin-left:0px;
        font-size: 1rem;
    }

    .s6images {
        width: 290px;
        height: 280px;
        margin-left: -15px;
    }

    .s6divs1 {
        width: 370px;
        height: 300px;
        margin-left: 10px;

    }
    .s-6div1{
        margin-left:50px;

    }

    .s6divs3,
    .s6divs2 {
        width: 290px;
        height: 280px;
        margin-left: 10px;
        margin-top: 20px;
    }

    .jeromebell {
        margin-left: 25px;
    }
    .s6divs-res{
        width: 290px;
        height: 350px;
        margin-left: 40px;
    }

}

/* footer Done */
.footer-1 {
    background: rgba(255, 255, 255, 0.1);
    margin-top: 100px;
    min-width: 1170px;
    min-height: 589px;
    margin-left: -20px;
    margin-right: -20px;


}

.footer-main {
    display: grid;
    display: flex;
    justify-content: space-around;
    color: azure;
    min-width: 1170px;
    height: 489px;

}

.titleand-des {
    margin-top: 20px;
    margin-left: 150px;
}

.footertitle {
    font-size: 5rem;
    font-weight: 800px;
    color: rgb(230, 83, 60);
}

.footer-descripation {
    font-size: 1.2rem;
    font-weight: 400px;
    color: rgba(255, 255, 255, 0.5);
}

.Service-1 {
    margin-top: 60px;
    font-size: 25px;
    font-weight: 400px;
    color: rgba(255, 255, 255, 0.5);
}

.Get-st {
    color: rgb(255, 255, 255);
}

.hr-1 {
    margin-left: 250px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    width: 1500px;
    margin-top: -30px;

}

.copyright {
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 40px;
    font-size: 1.7rem;
    font-weight: 400px;
}

@media only screen and (max-width:576px) {
    
    .footer-main {
        display: inline;

    }
    .footer-1{
        min-width: 385px;
        margin-left: -20px;
    }

    .footertitle {
        margin-left: -130px;
    }

    .footer-descripation {
        margin-left: -130px;
    }

    .hr-1 {
        width: 400px;
        margin-left:10px;
    }
}
